{
    "plugins": [
        ["transform-react-jsx", { "pragma": "h" }, "transform-es2015-arrow-functions"]
    ],
    "presets": [
        [   "env",
            {
                "targets": {
                    "node": "current",
                    "browsers": ["last 2 versions"]
                }
            }
        ]
    ]
}